@font-face {
    font-family: 'Noto Sans Thai';
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap');
}

:root {
    font-family: "Noto Sans Thai", sans-serif
}

.page-enter-active,
.page-leave-active {
    transition: all 0.2s;
}

.page-enter-from,
.page-leave-to {
    opacity: 0;
    filter: blur(0.2rem);
}